<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
</head>
<body>
    <h1>A Basic To-Do App</h1>
    <div id="tasks">
        Task: <input id="taskName" type="text">
        Duration: <input id="taskDuration" type="text">
        Pain: <input id="taskEffort" type="text">
        <button id="addTaskButton">Add Task</button>
    </div>
    <script src="{{ url_for('static', filename='js/task-queue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>