<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
</head>
<body>
    <h1>A Basic To-Do App</h1>

        Task: <input id="taskName" type="text">
        Duration: <input id="taskDuration" type="text">
        Pain: <input name="taskEffort" type="text">
        <button onclick="showTask()">Add Task</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>